In [3]:
import numpy as np
import pandas as pd

In [4]:
df_category=pd.read_csv('../data/US_category_id.csv')

In [5]:
df=pd.read_csv('../data/US_youtube_trending_data.csv')

In [26]:
df['date']=pd.to_datetime(df['trending_date']).dt.date
df['month']=pd.to_datetime(df['trending_date']).dt.month
df['year']=pd.to_datetime(df['trending_date']).dt.year

In [27]:
df_category1=df_category.rename({'Id':'categoryId'},axis=1)
df1=df.merge(df_category,left_on='categoryId',right_on='Id')
df2=df1.groupby(['date','Title','month','year']).size()
df3=df2.reset_index(name='Amount')
df4=df3.sort_values(by=['date','Amount'])
df5=df4.reset_index()
df6=df5.drop(['index'],axis=1)

In [28]:
yearnumber=df6['year'].unique()
monthnumber=df6['month'].unique()
set=[]
for i in yearnumber:
    for j in range(1,13):
        if i==yearnumber[0] and j>=1 and j<monthnumber[0]:
            continue
        elif i==yearnumber[1] and j==12:
            continue
        else:
            data=df6[(df6.year==i)&(df6.month==j)]
            set.append(data)

In [30]:
set

[           date                 Title  month  year  Amount
 0    2020-08-12        Pets & Animals      8  2020       1
 1    2020-08-12       Travel & Events      8  2020       2
 2    2020-08-12      Autos & Vehicles      8  2020       4
 3    2020-08-12  Science & Technology      8  2020       4
 4    2020-08-12             Education      8  2020       6
 ..          ...                   ...    ...   ...     ...
 268  2020-08-31                Sports      8  2020      17
 269  2020-08-31                Gaming      8  2020      18
 270  2020-08-31        People & Blogs      8  2020      18
 271  2020-08-31         Entertainment      8  2020      35
 272  2020-08-31                 Music      8  2020      52

 [273 rows x 5 columns],
            date                 Title  month  year  Amount
 273  2020-09-01      Autos & Vehicles      9  2020       2
 274  2020-09-01        Pets & Animals      9  2020       2
 275  2020-09-01      Film & Animation      9  2020       6
 276  2020-09-01  Science & Technology      9  2020       6
 277  2020-09-01             Education      9  2020       7
 ..          ...                   ...    ...   ...     ...
 682  2020-09-30                Comedy      9  2020      13
 683  2020-09-30                Gaming      9  2020      18
 684  2020-09-30         Entertainment      9  2020      36
 685  2020-09-30                Sports      9  2020      39
 686  2020-09-30                 Music      9  2020      51

 [414 rows x 5 columns],
             date                 Title  month  year  Amount
 687   2020-10-01      Autos & Vehicles     10  2020       1
 688   2020-10-01        Pets & Animals     10  2020       1
 689   2020-10-01       Travel & Events     10  2020       1
 690   2020-10-01  Science & Technology     10  2020       5
 691   2020-10-01       News & Politics     10  2020       6
 ...          ...                   ...    ...   ...     ...
 1087  2020-10-31                Comedy     10  2020      12
 1088  2020-10-31                Gaming     10  2020      25
 1089  2020-10-31                Sports     10  2020      25
 1090  2020-10-31                 Music     10  2020      37
 1091  2020-10-31         Entertainment     10  2020      42

 [405 rows x 5 columns],
             date             Title  month  year  Amount
 1092  2020-11-01    Pets & Animals     11  2020       1
 1093  2020-11-01   Travel & Events     11  2020       1
 1094  2020-11-01     Howto & Style     11  2020       3
 1095  2020-11-01         Education     11  2020       4
 1096  2020-11-01  Autos & Vehicles     11  2020       6
 ...          ...               ...    ...   ...     ...
 1476  2020-11-30            Gaming     11  2020      15
 1477  2020-11-30    People & Blogs     11  2020      18
 1478  2020-11-30            Sports     11  2020      31
 1479  2020-11-30     Entertainment     11  2020      36
 1480  2020-11-30             Music     11  2020      53

 [389 rows x 5 columns],
             date                 Title  month  year  Amount
 1481  2020-12-01        Pets & Animals     12  2020       1
 1482  2020-12-01       Travel & Events     12  2020       1
 1483  2020-12-01      Autos & Vehicles     12  2020       4
 1484  2020-12-01             Education     12  2020       4
 1485  2020-12-01  Science & Technology     12  2020       4
 ...          ...                   ...    ...   ...     ...
 1851  2020-12-31                Gaming     12  2020      16
 1852  2020-12-31        People & Blogs     12  2020      22
 1853  2020-12-31                Sports     12  2020      24
 1854  2020-12-31         Entertainment     12  2020      40
 1855  2020-12-31                 Music     12  2020      41

 [375 rows x 5 columns],
             date                 Title  month  year  Amount
 1856  2021-01-01        Pets & Animals      1  2021       2
 1857  2021-01-01      Autos & Vehicles      1  2021       3
 1858  2021-01-01             Education      1  2021       5
 1859  2021-01-01  Science & Technology      1  2021       8
 1860  2021-01-01                Comedy      1  2021       9
 ...          ...                   ...    ...   ...     ...
 2274  2021-01-31        People & Blogs      1  2021      17
 2275  2021-01-31                Sports      1  2021      24
 2276  2021-01-31                Gaming      1  2021      26
 2277  2021-01-31                 Music      1  2021      31
 2278  2021-01-31         Entertainment      1  2021      49

 [423 rows x 5 columns],
             date             Title  month  year  Amount
 2279  2021-02-01   Travel & Events      2  2021       1
 2280  2021-02-01   News & Politics      2  2021       3
 2281  2021-02-01  Autos & Vehicles      2  2021       5
 2282  2021-02-01         Education      2  2021       5
 2283  2021-02-01     Howto & Style      2  2021       9
 ...          ...               ...    ...   ...     ...
 2623  2021-02-27            Sports      2  2021      21
 2624  2021-02-27    People & Blogs      2  2021      24
 2625  2021-02-27            Gaming      2  2021      34
 2626  2021-02-27     Entertainment      2  2021      36
 2627  2021-02-27             Music      2  2021      37

 [349 rows x 5 columns],
             date             Title  month  year  Amount
 2628  2021-03-01   News & Politics      3  2021       1
 2629  2021-03-01    Pets & Animals      3  2021       1
 2630  2021-03-01  Autos & Vehicles      3  2021       3
 2631  2021-03-01         Education      3  2021       4
 2632  2021-03-01     Howto & Style      3  2021       5
 ...          ...               ...    ...   ...     ...
 3029  2021-03-31    People & Blogs      3  2021      15
 3030  2021-03-31            Sports      3  2021      25
 3031  2021-03-31             Music      3  2021      30
 3032  2021-03-31            Gaming      3  2021      34
 3033  2021-03-31     Entertainment      3  2021      43

 [406 rows x 5 columns],
             date                 Title  month  year  Amount
 3034  2021-04-01      Autos & Vehicles      4  2021       2
 3035  2021-04-01        Pets & Animals      4  2021       2
 3036  2021-04-01             Education      4  2021       6
 3037  2021-04-01  Science & Technology      4  2021       6
 3038  2021-04-01      Film & Animation      4  2021       8
 ...          ...                   ...    ...   ...     ...
 3415  2021-04-30                Sports      4  2021      13
 3416  2021-04-30        People & Blogs      4  2021      19
 3417  2021-04-30                 Music      4  2021      35
 3418  2021-04-30                Gaming      4  2021      40
 3419  2021-04-30         Entertainment      4  2021      47

 [386 rows x 5 columns],
             date                  Title  month  year  Amount
 3420  2021-05-01       Autos & Vehicles      5  2021       1
 3421  2021-05-01  Nonprofits & Activism      5  2021       1
 3422  2021-05-01        Travel & Events      5  2021       1
 3423  2021-05-01          Howto & Style      5  2021       3
 3424  2021-05-01              Education      5  2021       4
 ...          ...                    ...    ...   ...     ...
 3757  2021-05-31         People & Blogs      5  2021      35
 3758  2021-05-31                 Sports      5  2021      49
 3759  2021-05-31                  Music      5  2021      61
 3760  2021-05-31                 Gaming      5  2021      80
 3761  2021-05-31          Entertainment      5  2021      99

 [342 rows x 5 columns],
             date             Title  month  year  Amount
 3762  2021-06-01            Comedy      6  2021      10
 3763  2021-06-01  Film & Animation      6  2021      10
 3764  2021-06-01   News & Politics      6  2021      10
 3765  2021-06-01         Education      6  2021      12
 3766  2021-06-01     Howto & Style      6  2021      12
 ...          ...               ...    ...   ...     ...
 4133  2021-06-30    People & Blogs      6  2021      17
 4134  2021-06-30            Sports      6  2021      22
 4135  2021-06-30             Music      6  2021      29
 4136  2021-06-30     Entertainment      6  2021      37
 4137  2021-06-30            Gaming      6  2021      43

 [376 rows x 5 columns],
             date             Title  month  year  Amount
 4138  2021-07-01    Pets & Animals      7  2021       1
 4139  2021-07-01   Travel & Events      7  2021       1
 4140  2021-07-01         Education      7  2021       3
 4141  2021-07-01  Autos & Vehicles      7  2021       4
 4142  2021-07-01     Howto & Style      7  2021       6
 ...          ...               ...    ...   ...     ...
 4544  2021-07-31    People & Blogs      7  2021      16
 4545  2021-07-31            Sports      7  2021      16
 4546  2021-07-31             Music      7  2021      35
 4547  2021-07-31     Entertainment      7  2021      46
 4548  2021-07-31            Gaming      7  2021      47

 [411 rows x 5 columns],
             date             Title  month  year  Amount
 4549  2021-08-01  Autos & Vehicles      8  2021       3
 4550  2021-08-01         Education      8  2021       3
 4551  2021-08-01  Film & Animation      8  2021       6
 4552  2021-08-01     Howto & Style      8  2021       6
 4553  2021-08-01   News & Politics      8  2021       6
 ...          ...               ...    ...   ...     ...
 4945  2021-08-31    People & Blogs      8  2021      22
 4946  2021-08-31            Sports      8  2021      23
 4947  2021-08-31     Entertainment      8  2021      31
 4948  2021-08-31            Gaming      8  2021      34
 4949  2021-08-31             Music      8  2021      44

 [401 rows x 5 columns],
             date                 Title  month  year  Amount
 4950  2021-09-01      Autos & Vehicles      9  2021       1
 4951  2021-09-01        Pets & Animals      9  2021       1
 4952  2021-09-01       Travel & Events      9  2021       1
 4953  2021-09-01         Howto & Style      9  2021       2
 4954  2021-09-01  Science & Technology      9  2021       2
 ...          ...                   ...    ...   ...     ...
 5360  2021-09-30                 Music      9  2021      19
 5361  2021-09-30        People & Blogs      9  2021      22
 5362  2021-09-30                Sports      9  2021      26
 5363  2021-09-30         Entertainment      9  2021      43
 5364  2021-09-30                Gaming      9  2021      46

 [415 rows x 5 columns],
             date                 Title  month  year  Amount
 5365  2021-10-01       Travel & Events     10  2021       2
 5366  2021-10-01         Howto & Style     10  2021       4
 5367  2021-10-01       News & Politics     10  2021       5
 5368  2021-10-01  Science & Technology     10  2021       5
 5369  2021-10-01      Autos & Vehicles     10  2021       6
 ...          ...                   ...    ...   ...     ...
 5771  2021-10-31        People & Blogs     10  2021      13
 5772  2021-10-31                Sports     10  2021      22
 5773  2021-10-31                 Music     10  2021      29
 5774  2021-10-31         Entertainment     10  2021      39
 5775  2021-10-31                Gaming     10  2021      51

 [411 rows x 5 columns],
             date                  Title  month  year  Amount
 5776  2021-11-01        News & Politics     11  2021       1
 5777  2021-11-01  Nonprofits & Activism     11  2021       1
 5778  2021-11-01         Pets & Animals     11  2021       1
 5779  2021-11-01        Travel & Events     11  2021       2
 5780  2021-11-01       Film & Animation     11  2021       5
 5781  2021-11-01              Education     11  2021       6
 5782  2021-11-01       Autos & Vehicles     11  2021       7
 5783  2021-11-01          Howto & Style     11  2021       7
 5784  2021-11-01   Science & Technology     11  2021       8
 5785  2021-11-01                 Comedy     11  2021      11
 5786  2021-11-01         People & Blogs     11  2021      13
 5787  2021-11-01                 Sports     11  2021      22
 5788  2021-11-01                  Music     11  2021      23
 5789  2021-11-01          Entertainment     11  2021      42
 5790  2021-11-01                 Gaming     11  2021      51
 5791  2021-11-02  Nonprofits & Activism     11  2021       1
 5792  2021-11-02         Pets & Animals     11  2021       1
 5793  2021-11-02        Travel & Events     11  2021       1
 5794  2021-11-02        News & Politics     11  2021       3
 5795  2021-11-02          Howto & Style     11  2021       6
 5796  2021-11-02       Autos & Vehicles     11  2021       7
 5797  2021-11-02              Education     11  2021       7
 5798  2021-11-02       Film & Animation     11  2021       7
 5799  2021-11-02   Science & Technology     11  2021       8
 5800  2021-11-02                 Comedy     11  2021      11
 5801  2021-11-02         People & Blogs     11  2021      12
 5802  2021-11-02                 Sports     11  2021      21
 5803  2021-11-02                  Music     11  2021      22
 5804  2021-11-02                 Gaming     11  2021      46
 5805  2021-11-02          Entertainment     11  2021      47
 5806  2021-11-03         Pets & Animals     11  2021       1
 5807  2021-11-03        Travel & Events     11  2021       1
 5808  2021-11-03        News & Politics     11  2021       3
 5809  2021-11-03       Autos & Vehicles     11  2021       5
 5810  2021-11-03          Howto & Style     11  2021       7
 5811  2021-11-03                 Comedy     11  2021       9
 5812  2021-11-03              Education     11  2021       9
 5813  2021-11-03       Film & Animation     11  2021      11
 5814  2021-11-03   Science & Technology     11  2021      12
 5815  2021-11-03         People & Blogs     11  2021      14
 5816  2021-11-03                  Music     11  2021      18
 5817  2021-11-03                 Sports     11  2021      22
 5818  2021-11-03          Entertainment     11  2021      40
 5819  2021-11-03                 Gaming     11  2021      48
 5820  2021-11-04         Pets & Animals     11  2021       1
 5821  2021-11-04        Travel & Events     11  2021       1
 5822  2021-11-04       Autos & Vehicles     11  2021       6
 5823  2021-11-04        News & Politics     11  2021       7
 5824  2021-11-04                 Comedy     11  2021       8
 5825  2021-11-04              Education     11  2021       9
 5826  2021-11-04          Howto & Style     11  2021       9
 5827  2021-11-04   Science & Technology     11  2021       9
 5828  2021-11-04       Film & Animation     11  2021      11
 5829  2021-11-04                  Music     11  2021      13
 5830  2021-11-04         People & Blogs     11  2021      14
 5831  2021-11-04                 Sports     11  2021      29
 5832  2021-11-04          Entertainment     11  2021      36
 5833  2021-11-04                 Gaming     11  2021      47]

In [16]:
df2008=df202008.groupby('Title').Amount.sum().reset_index(name='number')
df2009=df202009.groupby('Title').Amount.sum().reset_index(name='number')
df2010=df202010.groupby('Title').Amount.sum().reset_index(name='number')
df2011=df202011.groupby('Title').Amount.sum().reset_index(name='number')
df2012=df202012.groupby('Title').Amount.sum().reset_index(name='number')
df2103=df202103.groupby('Title').Amount.sum().reset_index(name='number')
df2104=df202104.groupby('Title').Amount.sum().reset_index(name='number')
df2105=df202105.groupby('Title').Amount.sum().reset_index(name='number')
df2106=df202106.groupby('Title').Amount.sum().reset_index(name='number')
df2107=df202107.groupby('Title').Amount.sum().reset_index(name='number')
df2108=df202108.groupby('Title').Amount.sum().reset_index(name='number')
df2109=df202109.groupby('Title').Amount.sum().reset_index(name='number')
df2110=df202110.groupby('Title').Amount.sum().reset_index(name='number')
df2111=df202111.groupby('Title').Amount.sum().reset_index(name='number')

In [17]:
df2008.sort_values(by='number',ascending=False).to_csv('1.csv')

In [18]:
df2009.sort_values(by='number',ascending=False).to_csv('2.csv')

In [19]:
df2010.sort_values(by='number',ascending=False).to_csv('3.csv')

In [20]:
df2011.sort_values(by='number',ascending=False).to_csv('4.csv')

In [21]:
df2012.sort_values(by='number',ascending=False).to_csv('5.csv')

In [22]:
df2101.sort_values(by='number',ascending=False).to_csv('6.csv')

NameError: name 'df2101' is not defined

In [23]:
df2102.sort_values(by='number',ascending=False).to_csv('7.csv')

NameError: name 'df2102' is not defined

In [24]:
df2103.sort_values(by='number',ascending=False).to_csv('8.csv')

In [25]:
df2104.sort_values(by='number',ascending=False).to_csv('9.csv')

In [26]:
df2105.sort_values(by='number',ascending=False).to_csv('10.csv')

In [27]:
df2106.sort_values(by='number',ascending=False).to_csv('11.csv')

In [28]:
df2107.sort_values(by='number',ascending=False).to_csv('12.csv')

In [29]:
df2108.sort_values(by='number',ascending=False).to_csv('13.csv')

In [30]:
df2109.sort_values(by='number',ascending=False).to_csv('14.csv')

In [31]:
df2110.sort_values(by='number',ascending=False).to_csv('15.csv')

In [32]:
df2111.sort_values(by='number',ascending=False).to_csv('16.csv')

In [33]:
df6.drop(['month','year'],axis=1).to_csv('Daily.csv')

In [14]:
df6

            date                 Title  month  year  Amount
0     2020-08-12        Pets & Animals      8  2020       1
1     2020-08-12       Travel & Events      8  2020       2
2     2020-08-12      Autos & Vehicles      8  2020       4
3     2020-08-12  Science & Technology      8  2020       4
4     2020-08-12             Education      8  2020       6
...          ...                   ...    ...   ...     ...
5829  2021-11-04                 Music     11  2021      13
5830  2021-11-04        People & Blogs     11  2021      14
5831  2021-11-04                Sports     11  2021      29
5832  2021-11-04         Entertainment     11  2021      36
5833  2021-11-04                Gaming     11  2021      47

[5834 rows x 5 columns]